#container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formulario-registro {
    display: flex;
    flex-direction: column;
}

.contenedor-formulario .grupo-input {
    margin-bottom: 15px;
}

.contenedor-formulario label {
    font-weight: bold;
}

.contenedor-formulario input {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#enlaces-footer a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

#enlaces-footer a:hover {
    text-decoration: underline;
}

#boton-registro-normal, #boton-registro-pin {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#boton-registro-normal:hover, #boton-registro-pin:hover {
    background-color: #0056b3;
}

#boton-regresar {
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
}

#boton-regresar:hover {
    color: #0056b3;
}
