<div class="ContentFooter">
    <div class="ContentSubFooter">

        <section class="ContentLeft">
            <div class="ContentLogoLeft">
                <img src="../../../assets/img/logoMonedero.png" alt="LogoMonedero" id="ImgLogo">
            </div>
            <p>Mondero Vank</p>
        </section>
        <section class="ContentRigth">
            <input type="email" name="email_user" id="email_user">
            <input type="button" value="Enviar">
        </section>
    </div>
    <hr class="hrFooter">
    <p>© 2024-2025 Mondero Vank. Todos los derechos reservados.</p>
</div>