<div id="login-container">
    <div class="left-side">
        <h1><span class="monedro">Mondero</span> Vank</h1>
    </div>
    <div class="right-side">
        <!-- Formulario de login -->
        <form id="login-form">


            <!-- Formulario de usuario y contraseña -->
            <div id="traditional-login-form" class="auth-form">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" placeholder="Ingresa tu usuario">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña">
                </div>
            </div>

            <button type="submit">Ingresar</button>
            
            <!-- Enlaces para "Crear cuenta" y "¿Olvidaste tu contraseña?" -->
            <div id="form-footer">
                <a href="#" id="create-account-link">Crear cuenta</a>
                <a href="#" id="forgot-password-link">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
    <div style="width: 20px; height: 100%; background-color: rgba(128, 128, 128, 0.507); margin-right: 10px"></div>
    <div style="width: 20px; height: 100%; background-color: rgba(128, 128, 128, 0.507)"></div>
</div>
