<div id="container-principal">
    <div class="lado-izquierda">
        <h1><span class="marca">Mondero</span> Vank</h1>
    </div>
    <div class="lado-derecho">
        <!-- Formulario de registro -->
        <form id="formulario-registro" style="display: block;">
            <span id="boton-regresar" class="flecha-regreso" style="display: none;">
                <i class="fas fa-arrow-left"></i> <!-- FontAwesome flecha de regreso -->
            </span>

            <!-- Formulario tradicional de nombre completo, correo y contraseña -->
            <div id="formulario-registro-normal" class="contenedor-formulario">
                <div class="grupo-input">
                    <label for="nombre-completo">Nombre Completo</label>
                    <input type="text" id="nombre-completo" name="nombre-completo" placeholder="Ingresa tu nombre completo">
                </div>
                <div class="grupo-input">
                    <label for="correo-electronico">Correo Electrónico</label>
                    <input type="email" id="correo-electronico" name="correo-electronico" placeholder="Ingresa tu correo electrónico">
                </div>
                <div class="grupo-input">
                    <label for="nombre-usuario">Nombre de Usuario</label>
                    <input type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Ingresa tu nombre de usuario">
                </div>
                <div class="grupo-input">
                    <label for="contrasena-usuario">Contraseña</label>
                    <input type="password" id="contrasena-usuario" name="contrasena-usuario" placeholder="Ingresa tu contraseña">
                </div>
            </div>

            <button type="submit">Registrarse</button>
            
            <!-- Enlaces para "¿Ya tienes cuenta?" y "¿Olvidaste tu contraseña?" -->
            <div id="enlaces-footer">
                <a href="#" id="enlace-login">¿Ya tienes cuenta? Iniciar sesión</a>
                <a href="#" id="enlace-olvido-password">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
    <div style="width: 20px; height: 100%; background-color: rgba(128, 128, 128, 0.507); margin-right: 10px"></div>
    <div style="width: 20px; height: 100%; background-color: rgba(128, 128, 128, 0.507)"></div>
</div>

